.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top {
  background: var(--background-dark);
  width: 100%;
  padding-top: 5rem;
  min-height: 150px;
}

.landing-header {
  font-size: 3rem;
  /* margin-top: 6rem; */
  width: 100%;
  text-align: center;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  padding-top: 2rem;
  max-width: 60%;
  text-align: center;
  min-height: 200px;
}

.waves {
  fill: var(--background-dark);
  width: 100%;
  height: auto;
  margin-top: -2rem;
}

.greeting {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.projects-call-to-action {
  background-color: var(--call-to-action);
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 0.8rem;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.projects-call-to-action:hover {
  background-color: var(--call-to-action-hover);
}

.bottom-flex-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}
