.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top {
  background: var(--background-dark);
  width: 100%;
  padding: 3rem;
  min-height: 150px;
}

.landing-header {
  font-size: 3rem;
  /* margin-top: 6rem; */
  width: 100%;
  text-align: center;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  padding-top: 2rem;
  max-width: 60%;
  text-align: center;
}

.waves {
  fill: var(--background-dark);
  width: 100%;
  height: auto;
}

.greeting {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.projects-call-to-action {
  background-color: var(--call-to-action);
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 770px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    clip-path: none;
    position: static;
    height: 100%;
    background: none;
    width: 50%;
  }

  .close-icon {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1000px) {
  header {
    height: 100px;
  }

  .title {
    font-size: 30px;
  }

  .nav-item a {
    font-size: 23px;
  }
}
