.header-sect {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 1000;

  .open {
    // font-size: 3rem;
    background-color: $text-color;
    width: 2.5rem;
    height: 5px;
    cursor: pointer;
    position: relative;
  }

  .open::before {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    margin-bottom: 5px;
    height: 5px;
    background-color: $text-color;
  }

  .open::after {
    content: '';
    position: absolute;
    top: 20px;
    width: 100%;
    margin-bottom: 5px;
    height: 5px;
    background-color: $text-color;
  }

  .ham-menu {
    z-index: 1000;
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    background-color: $nav-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(0% at 100% 0%);
    transition: clip-path 0.5s ease-out;

    .close {
      position: absolute;
      right: 2rem;
      top: 2.7rem;
      background-color: $text-color;
      width: 2.5rem;
      height: 5px;
      transform: rotate(45deg);
      cursor: pointer;
    }

    .close::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: $text-color;
      transform: rotate(-90deg);
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 60%;

      li {
        font-size: 1.5rem;
        cursor: pointer;
        text-transform: uppercase;

        transition: all 0.2s ease-out;

        &:hover {
          transform: scale(1.2);
          font-weight: 700;
        }
      }
    }
  }
}

.nav-shown {
  clip-path: circle(150% at 100% 0%) !important;
}
