:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;

  --input-width: 60px;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: lightcyan;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

header input[type='text'] {
  width: var(--input-width);
}

header input[type='number'] {
  width: var(--input-width);
}

button {
  font-size: 1.3rem;
  padding: 0.3rem;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.row {
  display: flex;
  position: relative;
}

.row:first-of-type::after {
  content: '1,1';
  position: absolute;
  bottom: 0;
  left: 0.1rem;
  color: gray;
}

.row:last-of-type::after {
  content: attr(tr-coord);
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.1rem;
  color: gray;
}

.node {
  width: 50px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  position: relative;
}

.node::after {
  content: attr(content);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: gray;
  font-weight: 600;
}
